{% extends 'layout.html' %}

{% block body %}
<table class="table table-bordered">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Booking ID</th>
      <th scope="col">Name</th>
      <th scope="col">Date</th>
      <th scope="col">Start Time</th>
      <th scope="col">End Time</th>
    </tr>
  </thead>
  <tbody>
  	{% for d in data %}
    <tr>
      <th scope="row">{{d[0]}}</th>
      <td>{{d[1]}}</td>
      <td>{{d[2]}}</td>
      <td>{{d[3]}}</td>
      <td>{{d[4]}}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}